/*Tweet Form CSS*/

.new-tweet {
  background-color: #eee;
  padding: 1% 2% 2%;
  margin: 10px 2em;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

.new-tweet h2 {
  border-bottom: 1px solid black;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.new-tweet input {
  background-color: #eee;
  border: 1px solid #bbb;
}

.new-tweet textarea {
  padding: 5px;
  width: 100%;
}

.new-tweet span {
  float: right;
  font-size: 0.8em;
  font-style: italic;
  padding: 4px;
}