.tweet {
  border: 1px solid #bbb;
  border-radius: 5px;
  margin: 20px 2em;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  background-color: #e1e1e1;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.tweet-header h1 {
  font-size: 1.1em;
  flex-grow: 15;
}

.tweet-avatar {
  margin: 10px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 5px;
}

.avatar-div {
  flex-grow: 1;
}

.header-handle {
  margin: 10px;
  font-size: 0.8em;
  color: grey;
  flex-grow: 1;
}

.tweet-content {
  margin: 15px;
  overflow-wrap: break-word;
}

.tweet-header {
  opacity: 0.7;
}

.tweet:hover .tweet-header {
  opacity: 1;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  font-size: 0.7em;
  border-top: 1px solid #eee;
  width: 98%;
  margin: auto;
  align-items: center;
}

.tweet-icons .fa {
  margin-right: 4px;
  font-size: 1.2em;
  color: #33ffba;
  display: none;
}

.tweet-icons {
  margin-top: 10px;
  margin-bottom: 10px;
}

.warning {
  color: red;
  font-size: 0.7em;
  font-style: italic;
}

